
  <a href="animals/new_animal">
    <button class="btn" style="background-color:green;color:white"><p> New Animal </p></button>
  </a>
  <a href="regions/new_region">
    <button class="btn" style="background-color:green;color:white"><p> New Region </p></button>
  </a>

  <a href="sightings/new_sighting">
    <button class="btn" style="background-color:blue;color:white"><p> New Sighting </p></button>
  </a>

  <div >
    <h3>Recent Sightings:</h3>
    <ul>
      <%if @sightings == nil %>
        <p> No sightings at this time... </p>
      <% else %>
        <% @sightings.each do |sighting| %>
          <li> <%= sighting.created_at.strftime("%m/%d/%Y") %>
               <%= Animal.find(sighting.animal_id).name %> seen at
               <%= Region.find(sighting.region_id).name%> @
               <%= sighting.latitude %>,
               <%= sighting.longitude %>
          </li>
        <% end %>
      <% end %>
    </div>

  </ul>


</div>
